/*brand colors:
    #1A5653
    #107869
    #5CD85A
    #08313A
    pastel: 9ADEDB */
*{
    padding: 0;
    margin: 0;
    color: white;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html, body{
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}
.sidebar{
    background: #08313A;
    width: 35%;
    height: 100%;
    margin: 0;
}
.tab{
    overflow: auto;
    background-color: #08746E;
    border-radius: 10px;
    width: 70%;
    margin: auto;
    padding: 5px;
    display: flex;
    align-self: center;
    align-content: center;
    align-items: center;
    justify-content: center;
}
button {
    background-color: inherit;
    color: white;
    border: none;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    padding: 5px 5px;
    transition: 0.5s;
}
button:hover {
    background-color: #1A5653;
}
button.active {
    background-color: #1A5653;
}

.properties{
    background: #1A5653;
    border-radius: 20px;
    margin: 5px;
    padding: 8px;
    width: 100px;
    float: inline-start;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

i{
    margin: 5px;
}

input[type=text] {
    border: none;
    border-radius: 10px;
    width: 250px;
    height: 20px;
    margin: 5%;
    padding: 5px;
    color: black;
}

#location{
    color: red;
}

.icons{
    width: 10%;
    display: flex;
    flex-wrap: wrap;
}

::-webkit-scrollbar {
    width: 5%;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: #1A5653;
    border-radius: 50px;
}

::-webkit-scrollbar-track {
    background: #08746E;
    border-radius: 5px;
}

.swap{
    margin: 1%;
    width: 10%;
}

.info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}
.middle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Add a specific class to the button for the home page */
.button-home {
    background-color: inherit;
    color: white;
    border: none;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    padding: 5px 5px;
    transition: 0.5s;
}

.button-home:hover {
    background-color: transparent; /* Set the background color to be transparent on hover */
}
