.desktop-1,
.desktop-1 * {
  box-sizing: border-box;
}
.desktop-1 {
  background: #ffffff;
  width: 1440px;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.rectangle-15 {
  width: 1496px;
  height: 512px;
  position: absolute;
  left: 0px;
  top: 512px;
  float:left 
  
}
.at-eco-trails-we-are-committed-to-improving-our-modes-of-travel-while-prioritizing-sustainability-and-environmental-responsibility-our-mission-is-to-provide-eco-friendly-transport-solutions-that-not-only-meet-your-travel-needs-but-also-contribute-to-a-healthier-planet {
  color: #0e4a28;
  text-align: left;
  position: absolute;
  left: 162px;
  top: 545px;
  width: 1161px;
  height: 448px;
}
.at-eco-trails-we-are-committed-to-improving-our-modes-of-travel-while-prioritizing-sustainability-and-environmental-responsibility-our-mission-is-to-provide-eco-friendly-transport-solutions-that-not-only-meet-your-travel-needs-but-also-contribute-to-a-healthier-planet-span {
  color: #0e4a28;
  font-family: "Garamond", Serif;
  font-size: 48px;
  font-weight: 400;
}
.at-eco-trails-we-are-committed-to-improving-our-modes-of-travel-while-prioritizing-sustainability-and-environmental-responsibility-our-mission-is-to-provide-eco-friendly-transport-solutions-that-not-only-meet-your-travel-needs-but-also-contribute-to-a-healthier-planet-span2 {
  color: #0e4a28;
  font-family:"Garamond", Serif;
  font-size: 40px;
  font-weight: 400;
}
.at-eco-trails-we-are-committed-to-improving-our-modes-of-travel-while-prioritizing-sustainability-and-environmental-responsibility-our-mission-is-to-provide-eco-friendly-transport-solutions-that-not-only-meet-your-travel-needs-but-also-contribute-to-a-healthier-planet-span3 {
  color: #0e4a28;
  font-family: "Garamond", Serif;
  font-size: 32px;
  font-weight: 400;
}
.iconoir-x {
  width: 49px;
  height: 47px;
  position: absolute;
  left: 1244px;
  top: 974px;
  overflow: visible;
}
.vector3 {
  height: auto;
  position: absolute;
  right: 14.79%;
  left: 81.46%;
  width: 3.75%;
  bottom: 0%;
  top: 94.92%;
  height: 5.08%;
  overflow: visible;
}
.group {
  height: auto;
  position: absolute;
  right: 5.4%;
  left: 92.22%;
  width: 2.37%;
  bottom: 0.85%;
  top: 95.7%;
  height: 3.44%;
  overflow: visible;
}
.rectangle-14 {
  width: 738px;
  height: 512px;
  position: absolute;
  left: -18px;
  top: 10px;
  float: right;
  overflow: visible;
}
.vector6 {
  height: auto;
  position: absolute;
  right: 75.83%;
  left: 20.28%;
  width: 3.89%;
  bottom: 31.25%;
  top: 61.43%;
  height: 7.32%;
  transform: translate(-56px, -75px);
  overflow: visible;
}
.vector7 {
  height: auto;
  position: absolute;
  right: 80.97%;
  left: 15.14%;
  width: 3.89%;
  bottom: 31.25%;
  top: 61.43%;
  height: 7.32%;
  transform: translate(-56px, -75px);
  overflow: visible;
}
.rectangle-16 {
  width: 738px;
  height: 512px;
  position: absolute;
  left: 716px;
  top: 10px;
  overflow: visible;
}
.why-choose-eco-trails-environmental-impact-by-choosing-our-green-transport-options-you-are-actively-participating-in-reducing-air-pollution-minimizing-carbon-emissions-and-helping-combat-climate-change-cost-effective-many-of-our-sustainable-transportation-options-are-not-only-good-for-the-environment-but-also-cost-effective-in-the-long-run-saving-you-money-on-fuel-and-maintenance-community-engagement-we-believe-in-building-a-community-of-environmentally-conscious-individuals-connect-with-other-users-share-your-experiences-and-contribute-to-a-greener-more-sustainable-world {
  color: #ffffff;
  text-align: left;
  position: absolute;
  left: 733px;
  top: 35px;
  width: 673px;
  height: 413px;
}
.why-choose-eco-trails-environmental-impact-by-choosing-our-green-transport-options-you-are-actively-participating-in-reducing-air-pollution-minimizing-carbon-emissions-and-helping-combat-climate-change-cost-effective-many-of-our-sustainable-transportation-options-are-not-only-good-for-the-environment-but-also-cost-effective-in-the-long-run-saving-you-money-on-fuel-and-maintenance-community-engagement-we-believe-in-building-a-community-of-environmentally-conscious-individuals-connect-with-other-users-share-your-experiences-and-contribute-to-a-greener-more-sustainable-world-span {
  color: #ffffff;
  font-family: "Garamond", Serif;
  font-size: 35px;
  font-weight: 400;
}
.why-choose-eco-trails-environmental-impact-by-choosing-our-green-transport-options-you-are-actively-participating-in-reducing-air-pollution-minimizing-carbon-emissions-and-helping-combat-climate-change-cost-effective-many-of-our-sustainable-transportation-options-are-not-only-good-for-the-environment-but-also-cost-effective-in-the-long-run-saving-you-money-on-fuel-and-maintenance-community-engagement-we-believe-in-building-a-community-of-environmentally-conscious-individuals-connect-with-other-users-share-your-experiences-and-contribute-to-a-greener-more-sustainable-world-span2 {
  color: #ffffff;
  font-family:"Garamond", Serif;
  font-size: 26px;
  font-weight: 400;
}
.who-are-we-eco-trails-is-a-team-of-passionate-individuals-dedicated-to-promoting-green-and-sustainable-transportation-alternatives-we-believe-that-the-choices-we-make-in-transportation-can-have-a-profound-impact-on-the-environment-and-we-are-here-to-make-a-positive-difference {
  color: #ffffff;
  text-align: left;
  position: absolute;
  left: 22px;
  top: 35px;
  width: 707px;
  height: 344px;
}
.who-are-we-eco-trails-is-a-team-of-passionate-individuals-dedicated-to-promoting-green-and-sustainable-transportation-alternatives-we-believe-that-the-choices-we-make-in-transportation-can-have-a-profound-impact-on-the-environment-and-we-are-here-to-make-a-positive-difference-span {
  color: #ffffff;
  font-family: "Garamond", Serif;
  font-size: 35px;
  font-weight: 400;
}
.who-are-we-eco-trails-is-a-team-of-passionate-individuals-dedicated-to-promoting-green-and-sustainable-transportation-alternatives-we-believe-that-the-choices-we-make-in-transportation-can-have-a-profound-impact-on-the-environment-and-we-are-here-to-make-a-positive-difference-span2 {
  color: #ffffff;
  font-family: "Garamond", Serif;
  font-size: 30px;
  font-weight: 400;
}